@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  margin: 0;
  scroll-behavior: smooth;
}

/* Hide scrollbars for all elements */
* {
  /* Firefox */
  scrollbar-width: none;

  /* Internet Explorer 10+ */
  -ms-overflow-style: none;
}

/* WebKit browsers like Chrome, Safari */
*::-webkit-scrollbar {
  display: none;
}

body {
  font-family: "Lato", sans-serif;
}
